.task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}

.task:not(:last-child) {
  margin-bottom: 15px;
}

.task:hover {
  background-color: #f7f7f7;
}

.task {
  .description {
    width: 85%;
    display: flex;

    .input {
      width: 100%;
      border: none;
      outline: none;
    }
  }
  &.done {
    opacity: 0.5;
    position: relative;

    .description {
      text-decoration: line-through;
    }
  }
  &.done::after {
    position: absolute;
    content: "";
  }
}

.task span {
  font-weight: bold;
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.task .edit {
  background-color: blue;
}
